<div class="container mt-4">

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>📡 Live Order Status</h2>

    <!-- <a routerLink="/create" class="btn btn-success">
      ➕ Create Order
    </a> -->
  </div>
   ORDERS {{orders | json}}
  <div class="card">
    <div class="card-body">

      <table class="table table-bordered table-hover">
        <thead class="table-light">
          <tr>
            <th>Order ID</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
          @for (order of getOrderList(); track order){
          <tr>

            <td>{{ order.orderId }}</td>

            <td>
              <span class="badge"
                [ngClass]="{
                  'bg-success': order.orderStatus === 'SENT',
                  'bg-danger': order.orderStatus === 'FAILED',
                  'bg-warning text-dark': order.orderStatus === 'PENDING'
                }">
                {{ order.orderStatus }}
              </span>
            </td>

          </tr>
          }
        </tbody>

      </table>

    </div>
  </div>

    <!-- Notification List -->
     {{notifications}}
  <div class="list-group mt-3">
    <div class="list-group-item" *ngFor="let n of notifications">
      
      <div class="d-flex justify-content-between">
        <h6 class="mb-1">{{ n.message }}</h6>
        <small>{{ n.createdAt | date:'short' }}</small>
      </div>

      <p class="mb-1">Order ID: {{ n.orderId }}</p>

      <span class="badge bg-warning">
        {{ n.deliveryStatuses[0]?.deliveryStatus }}
      </span>

    </div>
  </div>

</div>